<table>
    <tr>
        <td>Variables</td>
        <td><button (click)="ejercicio01()">Ejercicios 01</button></td>
    </tr>
    <tr>
        <td>let, const, var</td>
        <td><button (click)="ejercicio02()">ejercicio02</button></td>
    </tr>
    <tr>
        <td>if - pares</td>
        <td><button (click)="ejercicio03()">Ejercicio03</button></td>
    </tr>
    <tr>
        <td>if - mayor de edad</td>
        <td><button (click)="ejercicio04()">Ejercicio04</button></td>
    </tr>
    <tr>
        <td>if - mayor de edad</td>
        <td><button (click)="ejercicio04()">Ejercicio04</button></td>
    </tr>
    <tr>
        <td>if - boolean</td>
        <td><button (click)="ejercicio05()">Ejercicio05</button></td>
    </tr>
    <tr>
        <td>Bucle</td>
        <td><button (click)="ejercicio06()">Ejercicio06</button></td>
    </tr>
    <tr>
        <td>Suma - Bucle</td>
        <td><button (click)="ejercicio07()">Ejercicio07</button></td>
    </tr>
    <tr>
        <td>recorrer array - Bucle</td>
        <td><button (click)="ejercicio08()">Ejercicio08</button></td>
    </tr>
    <tr>
        <td>Arrays</td>
        <td><button (click)="ejercicio09()">Ejercicio09</button></td>
    </tr>
</table>
